@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;
}


@theme {
  --color-primary: #79C9C5;
}

::-webkit-scrollbar {
  @apply hidden;
}
